<div class="recipe-container">

  
  <!-- Affichage des recettes -->
  <div *ngIf="recette" class="recipe-card">

    <h2>{{ recette.nom }}</h2>
    
    <!-- Image de la recette -->
    <div *ngIf="recette.photo">
      <img [src]="recette.photo" alt="{{ recette.nom }}" class="recipe-image">
    </div>

    <!-- Affichage de la catégorie -->
    <p><strong>Catégorie:</strong> {{ recette.categorie }}</p>
    
    <!-- Liste des ingrédients -->
    <h4>Ingrédients</h4>
    <ul>
      <li *ngFor="let ingr of recette.ingredients">{{ ingr }}</li>
    </ul>
    
    <!-- Étapes de la recette -->
    <h4>Étapes</h4>
    <ol>
      <li *ngFor="let etape of recette.etapes">{{ etape }}</li>
    </ol>
  </div>
</div>