<body>
<nav class="navbar">
    <div class="logo">FlavorShare</div>
    
    <ul class="nav-links">

      <li><a routerLink="/accueil" routerLinkActive="text-dark">Accueil</a></li>
      <li><a routerLink="/" routerLinkActive="text-dark">Catégories</a></li>
     
    </ul>
    
    <form class="search-bar">
        <input type="text" placeholder="Rechercher...">
        <button type="submit">
          <img src="https://static.vecteezy.com/ti/vecteur-libre/p2/582054-recherche-icone-illustrationle-gratuit-vectoriel.jpg" alt="Rechercher" class="search-icon">
        </button>
      </form>
      
  </nav>

</body>