* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #137c59;
    padding: 20px 20px;
    color: white;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
  .search-bar {
    display: flex;
  }
  
  .search-bar input {
    padding: 5px 10px;
    border: none;
    border-radius: 5px 0 0 5px;
  }
  
  .search-bar button {
    padding: 5px 10px;
    border: none;
    background-color: #000000;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #555;
  }
  
  .search-icon {
    width: 35px;
    height: 35px;
    object-fit: contain;
    padding : 0px;
  }
  